<h2>Estadisticas</h2><br/>
<ul>
	<li>Numero de preguntas: <%= Estadisticas.nQuestions %></li><br/>
	<li>Numero de comentarios totales: <%= Estadisticas.nComments %></li><br/>
	<li>Número medio de comentarios por pregunta: <%= Estadisticas.nCommentsPerQuestion %></li><br/>
	<li>Preguntas con comentarios: <%= Estadisticas.nQuestionsWithComment %></li><br/>
	<li>Preguntas sin comentarios: <%= Estadisticas.nQuestionsNoComment %></li><br/>
</ul>